--DROP TRIGGER tUpdateMAY
CREATE TRIGGER [dbo].[tUpdateMAY] ON [dbo].[MAY] FOR UPDATE
AS
DECLARE @MS_MAY AS NVARCHAR(50)
SELECT @MS_MAY=MS_MAY FROM INSERTED

IF NOT UPDATE(MS_MAY) 
BEGIN 
RETURN 
END
UPDATE EOR SET MS_MAY=@MS_MAY FROM EOR INNER JOIN DELETED 
ON EOR.MS_MAY=DELETED.MS_MAY

UPDATE THONG_SO_BO_PHAN SET MS_MAY=@MS_MAY FROM THONG_SO_BO_PHAN INNER JOIN DELETED 
ON THONG_SO_BO_PHAN.MS_MAY=DELETED.MS_MAY

UPDATE TRUC_CA_CHI_TIET SET MS_MAY=@MS_MAY FROM TRUC_CA_CHI_TIET INNER JOIN DELETED 
ON TRUC_CA_CHI_TIET.MS_MAY=DELETED.MS_MAY

UPDATE MAY_HE_THONG SET MS_MAY=@MS_MAY FROM MAY_HE_THONG INNER JOIN DELETED 
ON MAY_HE_THONG.MS_MAY=DELETED.MS_MAY

UPDATE MAY_NHA_XUONG SET MS_MAY=@MS_MAY FROM MAY_NHA_XUONG INNER JOIN DELETED 
ON MAY_NHA_XUONG.MS_MAY=DELETED.MS_MAY

UPDATE MAY_BO_PHAN_CHIU_PHI SET MS_MAY=@MS_MAY FROM MAY_BO_PHAN_CHIU_PHI INNER JOIN DELETED 
ON MAY_BO_PHAN_CHIU_PHI.MS_MAY=DELETED.MS_MAY

UPDATE CAU_TRUC_THIET_BI SET MS_BO_PHAN_CHA=@MS_MAY FROM CAU_TRUC_THIET_BI INNER JOIN DELETED 
ON CAU_TRUC_THIET_BI.MS_BO_PHAN_CHA=DELETED.MS_MAY
