
ALTER PROCEDURE [dbo].[spGetListDownTimeByDate]
	@USERNAME NVARCHAR(250) ='admin',
	@NNgu INT = 0,
	@TuNgay DATE = '10/19/2020',
	@DenNgay DATE  ='12/25/2021'
AS 
BEGIN
	SELECT DISTINCT TGDM.MS_MAY, CAST(TGDM.NGAY_DUNG AS DATE) AS NGAY
	FROM dbo.THOI_GIAN_DUNG_MAY TGDM
	WHERE CAST(TGDM.NGAY_DUNG AS DATE) BETWEEN @TuNgay AND @DenNgay
	ORDER BY NGAY DESC, TGDM.MS_MAY
END	


