
ALTER PROCEDURE [dbo].[spSaveActualLabor]
	@NGAY DATE = NULL,
	@ACTUAL_LABOR FLOAT = NULL
AS
BEGIN
	IF @NGAY IS NOT NULL 
	BEGIN
		IF EXISTS(SELECT TOP 1 * FROM dbo.ACTUAL_LABOR WHERE NGAY = @NGAY)
		BEGIN
			UPDATE dbo.ACTUAL_LABOR
			SET ACTUAL_LABOR = @ACTUAL_LABOR
			WHERE NGAY = @NGAY
		END
		ELSE
		BEGIN
			INSERT INTO dbo.ACTUAL_LABOR(NGAY, ACTUAL_LABOR)
			VALUES(@NGAY, @ACTUAL_LABOR)
		END
	END
END