
ALTER proc [dbo].[spApiCapNhatDungMay]
	@TU_GIO DATETIME ='2021-12-16 09:51:29.147',
	@DEN_GIO DATETIME ='2021-12-16 09:59:29.147',
	@MS_MAY NVARCHAR(30) = 'MOLD-02',
	@ID_Operator BIGINT =20017,
	@ItemID BIGINT=2,
	@PrOID BIGINT=10166,
	@MS_NGUYEN_NHAN INT = 21,
	@Loai INT =1
	--@loai = 1 là không theo production
	--@loai = 2 là theo production
AS
BEGIN
		DECLARE @ID_CA INT = (SELECT dbo.fnGetCa(@TU_GIO));
		DECLARE @NGUYEN_NHAN_CU_THE NVARCHAR(250) = (SELECT TOP 1 TEN_NGUYEN_NHAN FROM dbo.NGUYEN_NHAN_DUNG_MAY WHERE MS_NGUYEN_NHAN =@MS_NGUYEN_NHAN);
		DECLARE @ID_CHA BIGINT = (SELECT TOP 1 ID FROM dbo.THOI_GIAN_DUNG_MAY WHERE MS_MAY = @MS_MAY AND DEN_GIO = @TU_GIO);
		
	    DECLARE	@NGAY_DUNG DATETIME = CONVERT(DATE,(CASE (SELECT TOP 1 CA_DEM FROM dbo.CA WHERE STT = @ID_CA) WHEN 1 THEN CONVERT(DATE, DATEADD(HOUR, -(DATEPART(HOUR, (SELECT TOP 1 DEN_GIO FROM dbo.CA WHERE STT = @ID_CA)) + (DATEPART(MINUTE, (SELECT TOP 1 DEN_GIO FROM dbo.CA WHERE STT = @ID_CA))/60)), @TU_GIO )) ELSE @TU_GIO END));


		IF @Loai = 1
		BEGIN
		--không theo productionRundetails
			INSERT INTO dbo.THOI_GIAN_DUNG_MAY(MS_MAY,TU_GIO,DEN_GIO,MS_NGUYEN_NHAN,GHI_CHU,ID_Operator,THOI_GIAN_SUA_CHUA,THOI_GIAN_SUA,NGUYEN_NHAN,NGUYEN_NHAN_CU_THE,HIEN_TUONG,CaID,ID_CHA,TU_GIO_GOC,DEN_GIO_GOC,MS_NGUYEN_NHAN_GOC,NGAY_DUNG)
			VALUES(@MS_MAY,@TU_GIO,@DEN_GIO,@MS_NGUYEN_NHAN,'HMI',@ID_Operator,CONVERT(DECIMAL(18,2),DATEDIFF(SECOND,@TU_GIO,@DEN_GIO))/60,CONVERT(DECIMAL(18,2),DATEDIFF(SECOND,@TU_GIO,@DEN_GIO))/60,@NGUYEN_NHAN_CU_THE,@NGUYEN_NHAN_CU_THE,'',@ID_CA,@ID_CHA,@TU_GIO,@DEN_GIO,@MS_NGUYEN_NHAN,@NGAY_DUNG);
		END;
		ELSE
		--Theo productionRunDetails
        BEGIN
		DECLARE @ID_RUNDetals BIGINT =(SELECT TOP 1 DetailID FROM dbo.ProductionRunDetails WHERE PrOID = @PrOID AND ItemID = @ItemID /*AND OperatorID =@ID_Operator*/ AND MS_MAY =@MS_MAY AND ID_CA = @ID_CA AND CONVERT(DATE,StartTime) = CONVERT(DATE,@TU_GIO));
		IF NOT EXISTS(SELECT * FROM dbo.THOI_GIAN_DUNG_MAY WHERE ProductionRunDetailsID= @ID_RUNDetals)
		BEGIN

			IF(NOT EXISTS (SELECT * FROM dbo.THOI_GIAN_DUNG_MAY WHERE MS_MAY =@MS_MAY AND TU_GIO =@TU_GIO))
			BEGIN
			INSERT INTO dbo.THOI_GIAN_DUNG_MAY(MS_MAY,TU_GIO,DEN_GIO,MS_NGUYEN_NHAN,GHI_CHU,ID_Operator,THOI_GIAN_SUA_CHUA,THOI_GIAN_SUA,NGUYEN_NHAN,NGUYEN_NHAN_CU_THE,HIEN_TUONG,CaID,
			ProductionRunDetailsID,ID_CHA,TU_GIO_GOC,DEN_GIO_GOC,MS_NGUYEN_NHAN_GOC,NGAY_DUNG)
			VALUES(@MS_MAY,@TU_GIO,@DEN_GIO,@MS_NGUYEN_NHAN,'HMI',@ID_Operator,CONVERT(DECIMAL(18,2),DATEDIFF(SECOND,@TU_GIO,@DEN_GIO))/60,CONVERT(DECIMAL(18,2),DATEDIFF(SECOND,@TU_GIO,@DEN_GIO))/60,@NGUYEN_NHAN_CU_THE,@NGUYEN_NHAN_CU_THE,'',@ID_CA,
			@ID_RUNDetals,@ID_CHA,@TU_GIO,@DEN_GIO,@MS_NGUYEN_NHAN,@NGAY_DUNG);
		END
		END
		ELSE
        BEGIN
		IF(NOT EXISTS (SELECT * FROM dbo.THOI_GIAN_DUNG_MAY WHERE MS_MAY =@MS_MAY AND TU_GIO =@TU_GIO))
			BEGIN
			INSERT INTO dbo.THOI_GIAN_DUNG_MAY(MS_MAY,TU_GIO,DEN_GIO,MS_NGUYEN_NHAN,GHI_CHU,ID_Operator,THOI_GIAN_SUA_CHUA,THOI_GIAN_SUA,NGUYEN_NHAN,NGUYEN_NHAN_CU_THE,HIEN_TUONG,CaID,
			ProductionRunDetailsID,ID_CHA,TU_GIO_GOC,DEN_GIO_GOC,MS_NGUYEN_NHAN_GOC,NGAY_DUNG)
			VALUES(@MS_MAY,@TU_GIO,@DEN_GIO,@MS_NGUYEN_NHAN,'HMI',@ID_Operator,CONVERT(DECIMAL(18,2),DATEDIFF(SECOND,@TU_GIO,@DEN_GIO))/60,CONVERT(DECIMAL(18,2),DATEDIFF(SECOND,@TU_GIO,@DEN_GIO))/60,@NGUYEN_NHAN_CU_THE,@NGUYEN_NHAN_CU_THE,'',@ID_CA,
			@ID_RUNDetals,@ID_CHA,@TU_GIO,@DEN_GIO,@MS_NGUYEN_NHAN,@NGAY_DUNG);
        END
		END
		END
END;	