ALTER PROCEDURE [dbo].[spKiemTraNgayTrung]
 @TN DATETIME = '2020-03-10 16:00:00.000',
 @DN DATETIME = '2020-03-11 01:00:00.000'
AS	
BEGIN
SELECT DISTINCT MS_MAY FROM dbo.THOI_GIAN_DUNG_MAY WHERE (@TN BETWEEN TU_GIO AND DEN_GIO) OR (@DN BETWEEN TU_GIO AND DEN_GIO) OR (TU_GIO BETWEEN @TN AND @DN)
END
