
ALTER PROCEDURE [dbo].[spGetCaTuNgayDenNgay]
 @TN DATETIME = '1900-01-01 00:00:00.000',
 @DN DATETIME = '1900-01-01 05:30:00.000'
AS	
BEGIN
	IF(@TN >= '1900-01-01 00:00:00.000' AND  @TN < '1900-01-01 06:00:00.000')
	SET @TN = DATEADD(DAY,1,@TN)
	IF(@DN >= '1900-01-01 00:00:00.000' AND  @DN < '1900-01-01 06:00:00.000')
	SET @DN = DATEADD(DAY,1,@DN)
	SELECT STT, TU_GIO, DEN_GIO INTO #TMPCA FROM dbo.CA 
	UPDATE #TMPCA SET DEN_GIO = DATEADD(DAY,1,DEN_GIO) WHERE CONVERT(TIME,TU_GIO) > CONVERT(TIME,DEN_GIO)

	SELECT TOP 1 STT,TU_GIO,DEN_GIO FROM #TMPCA WHERE @TN BETWEEN TU_GIO AND DEN_GIO AND @DN BETWEEN TU_GIO AND DEN_GIO
END

