
ALTER PROCEDURE [dbo].[spGetListDownTime]
	@USERNAME NVARCHAR(250) ='admin',
	@NNgu INT = 0,
	@MS_MAY NVARCHAR(30) = 'MOLD-01',
	@NGAY DATE = '2022/03/14'
AS 
BEGIN
	SELECT TGDM.ID, TGDM.MS_MAY, TGDM.CaID,
	CASE 0 WHEN 0 THEN CA.CA WHEN 1 THEN ISNULL(NULLIF(CA.CA_ANH, ''), CA.CA) ELSE ISNULL(NULLIF(CA.CA_HOA, ''), CA.CA) END AS CA,
	TGDM.ID_Operator, O.OperatorCode, 
	CASE @NNgu WHEN 0 THEN O.OperatorName WHEN 1 THEN ISNULL(NULLIF(O.OperatorNameA, ''), O.OperatorName) ELSE ISNULL(NULLIF(O.OperatorNameH, ''), O.OperatorName) END AS OperatorName,
	CASE @NNgu WHEN 0 THEN OLD.OperatorName WHEN 1 THEN ISNULL(NULLIF(OLD.OperatorNameA, ''), OLD.OperatorName) ELSE ISNULL(NULLIF(OLD.OperatorNameH, ''), OLD.OperatorName) END AS LeadDer,
	TGDM.TU_GIO, TGDM.DEN_GIO, TGDM.THOI_GIAN_SUA, TGDM.THOI_GIAN_SUA_CHUA, DTT.ID_DownTime, CASE @NNgu WHEN 0 THEN DTT.DownTimeTypeName WHEN 1 THEN ISNULL(NULLIF(DTT.DownTimeTypeNameA, ''), DTT.DownTimeTypeName) ELSE ISNULL(NULLIF(DTT.DownTimeTypeNameH, ''), DTT.DownTimeTypeName) END AS DownTimeTypeName, TGDM.MS_NGUYEN_NHAN, CASE @NNgu WHEN 1 THEN ISNULL(NULLIF(NNDM.TEN_NGUYEN_NHAN_ANH, ''), NNDM.TEN_NGUYEN_NHAN) ELSE NNDM.TEN_NGUYEN_NHAN END AS TEN_NGUYEN_NHAN, TGDM.NGUYEN_NHAN, TGDM.NGUYEN_NHAN_CU_THE, TGDM.HIEN_TUONG, TGDM.ProductionRunDetailsID, TGDM.ID_CHA, TGDM.GHI_CHU
	FROM dbo.THOI_GIAN_DUNG_MAY TGDM
	LEFT JOIN dbo.CA CA ON CA.STT = TGDM.CaID
	LEFT JOIN dbo.NGUYEN_NHAN_DUNG_MAY NNDM ON NNDM.MS_NGUYEN_NHAN = TGDM.MS_NGUYEN_NHAN
	LEFT JOIN dbo.DownTimeType DTT ON DTT.ID_DownTime = NNDM.DownTimeTypeID
	LEFT JOIN dbo.Operator O ON O.ID_Operator = TGDM.ID_Operator
	LEFT JOIN dbo.SHIFT_LEADER LD ON CONVERT(DATE,LD.NGAY) = CONVERT(DATE,TGDM.NGAY_DUNG) AND TGDM.CaID = LD.ID_CA
	LEFT JOIN dbo.Operator OLD ON OLD.ID_Operator = LD.ID_Operator
	WHERE TGDM.MS_MAY = @MS_MAY AND CAST(TGDM.NGAY_DUNG AS DATE) = @NGAY
	ORDER BY TGDM.MS_MAY, TGDM.TU_GIO, TGDM.DEN_GIO, CA
END	


