
ALTER proc [dbo].[spApiGETDowTime]
	@DownTimeTypeID BIGINT = 22
AS
BEGIN
		SELECT MS_NGUYEN_NHAN,TEN_NGUYEN_NHAN,CONVERT(INT,ISNULL(DefineLevel,0) * 60) AS DINH_MUC FROM dbo.NGUYEN_NHAN_DUNG_MAY WHERE DownTimeTypeID = @DownTimeTypeID
END



