ALTER PROCEDURE [dbo].[spGetListDownTimeBC]
	@USERNAME NVARCHAR(250) ='admin',
	@NNgu INT = 0,
	@MS_MAY NVARCHAR(30) = 'MOLD-01',
	@TGAY DATE = '2022/03/14',
	@DGAY DATE = '2022/03/14'
AS 
BEGIN
	SELECT dbo.fnGetNgayTheoCa(TGDM.TU_GIO) AS NGAY, TGDM.MS_MAY,
	CASE 0 WHEN 0 THEN CA.CA WHEN 1 THEN ISNULL(NULLIF(CA.CA_ANH, ''), CA.CA) ELSE ISNULL(NULLIF(CA.CA_HOA, ''), CA.CA) END AS CA,
	CASE @NNgu WHEN 0 THEN O.OperatorName WHEN 1 THEN ISNULL(NULLIF(O.OperatorNameA, ''), O.OperatorName) ELSE ISNULL(NULLIF(O.OperatorNameH, ''), O.OperatorName) END AS OperatorName,
	CASE @NNgu WHEN 0 THEN OLD.OperatorName WHEN 1 THEN ISNULL(NULLIF(OLD.OperatorNameA, ''), OLD.OperatorName) ELSE ISNULL(NULLIF(OLD.OperatorNameH, ''), OLD.OperatorName) END AS LeadDer,
	TGDM.TU_GIO, TGDM.DEN_GIO, TGDM.THOI_GIAN_SUA_CHUA, CASE @NNgu WHEN 0 THEN DTT.DownTimeTypeName WHEN 1 THEN ISNULL(NULLIF(DTT.DownTimeTypeNameA, ''), DTT.DownTimeTypeName) ELSE ISNULL(NULLIF(DTT.DownTimeTypeNameH, ''), DTT.DownTimeTypeName) END AS DownTimeTypeName,
	CASE @NNgu WHEN 1 THEN ISNULL(NULLIF(NNDM.TEN_NGUYEN_NHAN_ANH, ''), NNDM.TEN_NGUYEN_NHAN) ELSE NNDM.TEN_NGUYEN_NHAN END AS TEN_NGUYEN_NHAN, TGDM.HIEN_TUONG
	FROM dbo.THOI_GIAN_DUNG_MAY TGDM
	LEFT JOIN dbo.CA CA ON CA.STT = TGDM.CaID
	LEFT JOIN dbo.NGUYEN_NHAN_DUNG_MAY NNDM ON NNDM.MS_NGUYEN_NHAN = TGDM.MS_NGUYEN_NHAN
	LEFT JOIN dbo.DownTimeType DTT ON DTT.ID_DownTime = NNDM.DownTimeTypeID
	LEFT JOIN dbo.Operator O ON O.ID_Operator = TGDM.ID_Operator
	LEFT JOIN dbo.SHIFT_LEADER LD ON CONVERT(DATE,LD.NGAY) = CONVERT(DATE,TGDM.NGAY_DUNG) AND TGDM.CaID = LD.ID_CA
	LEFT JOIN dbo.Operator OLD ON OLD.ID_Operator = LD.ID_Operator
	WHERE (TGDM.MS_MAY = @MS_MAY OR @MS_MAY ='-1') AND dbo.fnGetNgayTheoCa(TGDM.TU_GIO) BETWEEN @TGAY AND @DGAY
	ORDER BY NGAY, TGDM.MS_MAY, TGDM.TU_GIO, TGDM.DEN_GIO, CA
END	


