CREATE proc [dbo].[spApiUpdateHMIAction]
	    @MS_MAY NVARCHAR(30),
	    @HD NVARCHAR(50),
	    @GT	NVARCHAR(max),
	    @Ngay DATETIME
AS
BEGIN
	INSERT INTO dbo.HMIAction(May,Date,ButtonCode,Value)
	VALUES(@MS_MAY,@Ngay, @HD, @GT )
END	

