ALTER proc [dbo].[spGetBaoCaoTieuThuDienNang]
	@MS_MAY nvarchar(30),
	@TNgay DATETIME,
	@DNgay DATETIME,
	@USERNAME  nvarchar(50),
	@NNgu int
AS
begin
	SELECT CONVERT(DATE,THOI_GIAN) NGAY,MS_MAY,CONVERT(DECIMAL(18,2),AVG(I1)) AS I1,CONVERT(DECIMAL(18,2),AVG(I2)) AS I2,CONVERT(DECIMAL(18,2),AVG(I3)) AS I3,CONVERT(DECIMAL(18,2),AVG(U1)) AS U1,CONVERT(DECIMAL(18,2),AVG(U2)) AS U2,CONVERT(DECIMAL(18,2),AVG(U3)) AS U3,MAX(W) AS W FROM dbo.PowerConsumption
	WHERE I1 != 0 AND I2 != 0 AND I3 != 0 AND U1 != 0 AND U2 !=0 AND U3 != 0 AND W !=0 
	AND CONVERT(DATE,THOI_GIAN) BETWEEN @TNgay AND @DNgay AND (MS_MAY = @MS_MAY OR @MS_MAY = '-1')
	GROUP BY CONVERT(DATE,THOI_GIAN),MS_MAY
	ORDER BY NGAY,MS_MAY
END


