ALTER proc [dbo].[spApiXoaDungMay]
	@Ngay DATETIME, 
	@MS_MAY NVARCHAR(30) = 'MOLD-02',
	@ID_Operator BIGINT =NULL
AS
BEGIN
	DECLARE @DateMax DATETIME
	DECLARE @Cha BIGINT

	SELECT @DateMax = MAX(TU_GIO) FROM dbo.THOI_GIAN_DUNG_MAY WHERE MS_MAY = @MS_MAY
	IF(SELECT MS_NGUYEN_NHAN FROM dbo.THOI_GIAN_DUNG_MAY WHERE MS_MAY =@MS_MAY AND TU_GIO =@DateMax) = 22
	BEGIN
		SELECT @Cha = ID_CHA FROM dbo.THOI_GIAN_DUNG_MAY WHERE MS_MAY =@MS_MAY AND TU_GIO =@DateMax
		IF @Cha IS NULL
		BEGIN
			DELETE dbo.THOI_GIAN_DUNG_MAY WHERE MS_NGUYEN_NHAN = 22 and  TU_GIO = @DateMax AND MS_MAY =@MS_MAY
		END
		ELSE
        BEGIN
			DELETE dbo.THOI_GIAN_DUNG_MAY WHERE MS_NGUYEN_NHAN = 22 and  TU_GIO = @DateMax AND MS_MAY =@MS_MAY
			DELETE dbo.THOI_GIAN_DUNG_MAY WHERE MS_NGUYEN_NHAN = 22  AND MS_MAY =@MS_MAY AND ID = @Cha
		END
	END
	ELSE
    BEGIN
		DELETE dbo.THOI_GIAN_DUNG_MAY WHERE MS_NGUYEN_NHAN = 22 and  TU_GIO = @Ngay AND MS_MAY =@MS_MAY
	END
END	

