
ALTER proc [dbo].[spGetBaoCaoTargetMoldID]
AS
begin
	SELECT MAX(C.NGAY) AS NGAY,C.MOLD_ID,C.TarGetActual,(SELECT SUM(A.ActualQuantity) FROM dbo.ProductionRunDetails A
	INNER JOIN dbo.Item B ON A.ItemID = B.ID
	WHERE  B.Barcode = C.MOLD_ID AND dbo.fnGetNgayTheoCa(A.StartTime) > MAX(C.NGAY)) AS SL  
	INTO #TMP
	FROM dbo.TargetMold C
	GROUP BY C.NGAY,C.MOLD_ID,C.TarGetActual
	SELECT T.NGAY,
           T.MOLD_ID,
           ISNULL(T.TarGetActual,0) AS TarGetActual,
           ISNULL(T.SL,0) AS SL FROM (
	SELECT NGAY,
           MOLD_ID,
           TarGetActual,
           SL FROM #TMP
	UNION	
	SELECT NULL, B.Barcode,NULL AS Target,SUM(A.ActualQuantity) AS ActualQuantity FROM dbo.ProductionRunDetails A
	INNER JOIN dbo.Item B ON A.ItemID = B.ID
	WHERE ISNULL(B.Barcode,'') !='' 
	AND B.Barcode NOT IN (SELECT MOLD_ID FROM #TMP)
	GROUP BY B.Barcode ) T
	ORDER BY T.MOLD_ID
END



