ALTER proc [dbo].[spGetBaoCaoTieuThuDienNang]
	@MS_MAY nvarchar(30) ='-1',
	@TNgay DATE ='2022-01-23',
	@DNgay DATE ='2022-05-30',
	@USERNAME  nvarchar(50) ='admin',
	@NNgu INT = 0
AS
begin
	SELECT CONVERT(DATE,THOI_GIAN) NGAY,MS_MAY,CONVERT(DECIMAL(18,2),AVG(I1)) AS I1,CONVERT(DECIMAL(18,2),AVG(I2)) AS I2,CONVERT(DECIMAL(18,2),AVG(I3)) AS I3,CONVERT(DECIMAL(18,2),AVG(U1)) AS U1,
	CONVERT(DECIMAL(18,2),AVG(U2)) AS U2,CONVERT(DECIMAL(18,2),AVG(U3)) AS U3,MAX(W) AS W,
	(SELECT MAX(W) FROM dbo.PowerConsumption A1 WHERE A1.MS_MAY = A.MS_MAY AND A1.THOI_GIAN < A.THOI_GIAN) AS DNTT,(SELECT SUM(ActualQuantity) FROM dbo.ProductionRunDetails C WHERE C.MS_MAY = A.MS_MAY AND CONVERT(DATE,A.THOI_GIAN) = dbo.fnGetNgayTheoCa(C.StartTime)) AS TSL
	INTO #TMP
	FROM dbo.PowerConsumption A
	WHERE CONVERT(DATE,THOI_GIAN) BETWEEN @TNgay AND @DNgay AND (MS_MAY = @MS_MAY OR @MS_MAY = '-1')
	GROUP BY THOI_GIAN,MS_MAY
	SELECT NGAY,MS_MAY,I1,I2,I3,U1,U2,U3,W,(W - DNTT) KWDAY,TSL,CONVERT(DECIMAL(18,5),CASE ISNULL(TSL,0) WHEN 0 THEN (W - DNTT) else (W - DNTT)/TSL END) AS KWPIC FROM #TMP ORDER BY NGAY,MS_MAY
END

