

ALTER PROCEDURE [dbo].[spGetListShiftLeader]
	@NGAY DATETIME = NULL,
	@USERNAME NVARCHAR(250) ='admin',
	@NNgu INT = 0
AS 
BEGIN
	SELECT C.STT AS ID_CA, CASE @NNgu WHEN 0 THEN C.CA WHEN 1 THEN C.CA_ANH ELSE C.CA_HOA END AS CA, ISNULL(C.CA_DEM, 0) AS CA_DEM, ISNULL(NGAY, CAST(@NGAY AS DATE)) AS NGAY,  SL.ID_Operator, CASE @NNgu WHEN 0 THEN O.OperatorName WHEN 1 THEN O.OperatorNameA ELSE O.OperatorNameH END AS OperatorName , O.CardID, O.PHONE, O.MAIL, TOO.MS_TO, O.Note
	FROM dbo.SHIFT_LEADER SL
	RIGHT JOIN dbo.CA C ON C.STT = SL.ID_CA AND NGAY = @NGAY
	LEFT JOIN dbo.Operator O ON O.ID_Operator = SL.ID_Operator
	LEFT JOIN dbo.TO_Operator TOO ON TOO.ID_TO = O.ID_TO
	WHERE C.Hide = 0
	ORDER BY STT
END	





