ALTER proc [dbo].[spGetBaoCaoChenhLechDinhMuc]
	@MS_MAY nvarchar(30) ='IMM-01',
	@TNgay DATETIME = '2022-06-16',
	@DNgay DATETIME ='2022-06-16',
	@USERNAME  nvarchar(50) ='admin',
	@NNgu INT = 0
AS
begin
	SELECT  A.MS_MAY,dbo.fnGetNgayTheoCa(A.TU_GIO) AS NGAY,A.TU_GIO,DATEADD(SECOND,dbo.fnGetThoiGianSua(A.ID),A.TU_GIO) AS DEN_GIO,
	CASE @NNgu WHEN 0 THEN B.TEN_NGUYEN_NHAN ELSE B.TEN_NGUYEN_NHAN_ANH END AS TEN_NGUYEN_NHAN ,
	B.DefineLevel AS DINH_MUC
	,CONVERT(DECIMAL(18,2),dbo.fnGetThoiGianSua(A.ID)/60.0) AS THUC_TE
	FROM dbo.THOI_GIAN_DUNG_MAY A
	INNER JOIN dbo.NGUYEN_NHAN_DUNG_MAY B ON B.MS_NGUYEN_NHAN = A.MS_NGUYEN_NHAN 
	INNER JOIN dbo.CA C ON A.CaID = C.STT
	WHERE ISNULL(B.DefineLevel,0) > 0 AND (A.MS_MAY =@MS_MAY OR @MS_MAY ='-1') AND A.ID_CHA IS  NULL AND dbo.fnGetNgayTheoCa(A.TU_GIO) BETWEEN @TNgay AND @DNgay 
END

